<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<!--<add key="Source" value="Server= LJV02OIT1513\SQLEXPRESS;"/>
		<add key="InitialCat" value="Initial catalog = OrdenVentasDB;"/>
		<add key="IntSecuirity" value="Integrated security = true;"/>
		<add key="UserID" value="User ID = sa;"/>
		<add key="Password" value="Password = *Monografico2022;"/>-->

		<add key="Source" value="Server=.\\SQLExpress,1433;"/>
		<add key="InitialCat" value="Initial catalog = OrdenVentasDB;"/>
		<add key="IntSecuirity" value="Integrated security = false;"/>
		<add key="UserID" value="User ID = sa;"/>
		<add key="Password" value="Password = root@12345.;"/>
	</appSettings>
</configuration>